.containerOne{
    width: 90%;
    margin: 0;
    padding: 10% 5% 10% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.halfBoxOne{
    width: 40%;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.halfBoxTwo{
    width: 30%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #32289F;
}

h2{
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-transform: uppercase;
    color: #32289F;
    margin: 0;
}

.download{
    width: 40%;
    height: 35px;
    margin: 20px 0 0 0;
    border: none;
    border-radius: 15px;
    background-color: #32289F;
    color: white;
    font-family: 'Relaway', sans-serif;
}

.download:hover{
    background-color: #FFD900;
}

@media (max-width:1024px){

    .containerOne{
        width: 88%;
    }

    .halfBoxOne{
        width: 50%;
    }

    p{
        font-size: 14px;
    }

    h2{
        font-size: 50px;
    }

    .download{
        width: 60%;
        font-size: 12px;
    }
}

@media (max-width:768px){

    .containerOne{
        width: 88%;
    }

    .halfBoxOne{
        width: 65%;
        margin: 0 10px;
    }

    .halfBoxTwo{
        width: 40%;
        margin: 0 15px;
    }

    p{
        font-size: 14px;
    }

    h2{
        font-size: 48px;
    }

    .download{
        width: 80%;
        font-size: 12px;
    }
}

@media (max-width: 414px){

    .containerOne{
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
    }
    
    .halfBoxOne{
        width: 85%;
        margin: 0;
        padding: 20px;
    }
    
    .halfBoxTwo{
        width: 100%;
        margin: 80px 0 10px 0;
        align-items: center;
    }
    
    p{
        font-size: 14px;
    }
    
    h2{
        font-size: 55px;
    }
    
    .download{
        width: 110%;
        margin: 10px auto 0 auto;
        font-size: 11px;
    }
}