.halfBoxThree{
    width: 40%;
    height: 200px;
    margin: 0 20px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: 'Khand', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #32289F;
    margin: 0;
}

.yellow{
    color: #FFD900;
}

.alignRight{
    text-align: right;
}

.description{
    font-size: 13px;
}

.iconContainer{
    width: 90%;
    margin: 10px 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconBox{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 80px;
    height: 80px;
}

.nameIcon{
    color: #32289F;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:15px;
    color: #32289F;
    margin: 5px 0 0 0 ;
    text-align: center;
}

@media (max-width:1024px){
    .halfBoxThree{
        width: 45%;
    }

    h3{
        font-size: 24px;
    }

    .description{
        font-size: 12px;
    }

    .iconContainer{
        width: 90%;
    }

    .icon{
        width: 85px;
        height: 85px;
    }
}

@media (max-width:768px){
    .halfBoxThree{
        width: 40%;
        margin: 0 15px 0 20px;
    }

    h3{
        font-size: 24px;
    }

    .description{
        font-size: 12px;
    }

    .iconContainer{
        width: 100%;
        height: 75px;
    }

    .icon{
        width: 70px;
        height: 70px;
    }
}

@media (max-width:450px){

    .halfBoxThree{
        order: -1;
        width: 100%;
        height: 150px;
        margin: 0 0 50px 0;
        padding: 0;
    }

    h3{
        font-size: 24px;
    }

    .alignRight{
        text-align: center;
    }

    .description{
        font-size: 13px;
        margin: 10px 35px;
    }
    
    .iconContainer{
        width: 80%;
        height: 55px;
    }
    
    .icon{
        width: 55px;
        height: 55px;
    }

}